*{
    box-sizing: border-box;
    margin: 0;
}


nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #be3144;
    justify-content: flex-end;
    padding: 20px;   

}

nav ul li {
    list-style: none;

 display: inline-block;
    
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    font-weight: 400;;

    
}


#welcome-section{
    min-height: 100vh;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}


#welcome-section h1{
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20%;
    font-size: 50px;
    font-weight: 900;
}


#welcome-section h2{
    color: #be3144;
    text-align: center;
    font-weight: 100;

}

#projects{
    border: 2px solid #181719;
    text-align: center;
    padding-top: 30px;
    min-height: 100vh;
    background-color: #45567d;
   
  

}


.project-titele h1{
    text-align: center;
    display: block;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

 .projects-images{

    padding-top: 20px;
    gap: 20px;
    padding: 20px;
    width: 100%;
   

}

.project-images-titel{

width: 100%;
display: flex;
flex: 33.33;
}

.project-images button{
  margin-top: 40px;
    background-color: #fff;
    color: #181719;

}


.projects-images img{
    
    width: 80%;
   
}



.projects-images a{
    color: #fff;
    padding: 20px;
    text-decoration: none;
    font-size: larger;
    margin-top: 50px;
    width: 100%;
}

.projects-images:hover a{
    color:orange;
}

.last_section{
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20%

}

.last_section h1{
    font-size: 55px;

}
.social{
    margin-top: 40px;
    min-height: 20vh;
}
.last_section a{

    margin-top: 30px !important;
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
   

}
.last_section .social:hover a { 
    transform:  translateY(20px);
}